
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* { 
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: #0186c4;
    text-decoration: none;
    transition: color 0.6s ease;
}

a:hover {
    color: #052658;
}

img {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-out;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}


header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(26, 26, 26, 0.781);
    width: 100%;
    padding: 0.3%;
    color: rgba(245, 245, 245, 0.781);
    border-bottom: 5px solid #59595a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header > div#logo > a > img,
header > div#logo1 > a > img,
header > div#logo2 > a > img {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 15%;
}

header > div#logo > a > span,
header > div#logo1 > a > span {
    font-size: 1.5em;
    margin-left: 20px;
    font-family: "Dela Gothic One", sans-serif;
}

#menu-toggle {
    display: none;
    font-size: 2em;
    cursor: pointer;
}


@media (min-width: 997px) {
    
    #content {
        margin-top: -20px;
    }

    .dubble_block {
        display: flex;
        justify-content: space-b;
    }
    
    #logo {
        float: left;
        width: 44%;
    }
    
    #logo1,
    #logo2 {
        visibility: hidden;
        display: none;
    }

    #about {
        float: left;
        width: 37%;
    }

    #theme {
        float: right;
        width: 30%;
    }
}

@media (max-width: 996px) and (min-width: 401px) {

    #map {
        display: flex;
        justify-content: center;
        width: 85%;
    }

    #content {
        margin-top: -10px;
    }
    
    #logo {
        visibility: hidden;
        display: none;
    }
    
    #logo1 {
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
        width: 50%;
    }
        
    #logo2 {
        visibility: hidden;
        display: none;
    }

    #about {
        margin-left: 1px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #theme {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 50%;
    }
}

@media (max-width: 400px) {

    .dubble_block {
        display: block;
    }

    #photosabout {
        justify-content: center;
    }

    #map {
        display: flex;
        justify-content: flex-end;
        width: 85%;
    }

    #content {
        margin-top: -10px;
    }
    
    #logo {
        visibility: hidden;
        display: none;
    }
    
    #logo1 {
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
        width: 50%;
    }
        
    #logo2 {
        visibility: hidden;
        display: none;
    }

    #lang {
        display: none;
    }

    #about {
        margin-left: 1px;
        display: flex;
        justify-content: center;
        width: 50%;
    }

    #theme {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 50%;
    }
}


#theme>a {
    margin-top: 10px;
    color: white;
}

#theme>a>div.btn {
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1em;
    background-color: #0186c4;
    text-shadow: #454545 0 0 2px;
    border-bottom: 4px solid #052658;
}

#about {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    padding-top: 10px;
}

#about > a {
    margin: 0 5%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 70px; 
}

#mainn {
    float: left;
    background-color: rgba(0, 0, 0, 0.432);
    width: 99.4%;
    padding: 0.3%;
    color: #ffffff;
    border-bottom: 5px solid #59595a;
}

#sitename {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    padding-top: 200px;
}

#sitename > h1 {
    font-family: "Merriweather", serif;
    font-size: 2.5em;
}

#sitename > h3 {
    margin: 50px auto 500px;
    margin-bottom: 300px;
    margin-top: 50px;
    max-width: 650px; 
    width: 100%;
}

#gallery1,
#contacts1 {
    color: #ccc;
    font-family: "Dela Gothic One", sans-serif;
    margin-top: 50px;
    margin-left: 30px;
}


#map {
    margin-top: 20px;
    margin-left: 30px;
    width: 90%;
}

.link1 {
    margin-top: 15px;
    color: #ccc;
    font-family: "Roboto Slab", serif;
}

#about_team {
    margin-left: 30px;
    color: #ccc;
    flex: 1; 
}

#photosabout {
    margin-left: 10%;
    margin-right: 5px;
    color: #ccc;
    flex: 1; 
}

#contacts {
    margin-left: 20px;
    margin-right: 20%;
}

#photosabout > img {
    margin-top: 10px;
}

#about_team > h1 {
    font-family: "Dela Gothic One", sans-serif;
}

#qwert1 {
    margin-top: 10px;
    font-family: "Dela Gothic One", sans-serif;
}

#qwert2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Dela Gothic One", sans-serif;
}

#about_team > h3 {
    margin-top: 20px;
    font-family: "Roboto Slab", serif;
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
}

.social-icons>li {
    margin-right: 0.25rem;
}

.social-icons a {
    position: relative;
    background-color: #eee;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
}

.social-icons a:hover {
    background-color: #e0e0e0;
}

.social-icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.social-icons .social-icon-vk::before {
    background-image: url("https://cdn-icons-png.flaticon.com/128/6422/6422212.png");
}

.social-icons .social-icon-telegram::before {
    background-image: url("https://cdn-icons-png.flaticon.com/128/6422/6422206.png");
}

.social-icons .social-icon-youtube::before {
    background-image: url("https://cdn-icons-png.flaticon.com/128/6422/6422215.png");
}


.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -100;
}

#footer {
    
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    margin-left: -5px;
    background-color: rgba(0, 0, 0, 0.767);
    width: 100%;
}
#pipec {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    margin: 12px;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
        inset -5px -5px 10px #222;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);  
}

button:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
    transform: translateY(-3px);
}

